 .sourceCode pre{padding:0rem}pre code a{color:unset}pre code a:hover{color:unset}figure{display:inline-block;text-align:center;margin:5px}figure img{vertical-align:top}figure div{margin:auto}figure figcaption{font-style:oblique}
.author{
 font-style:italic;
 margin-bottom:2.5%;
 margin-left:1%;
}


.has-background-image{
 background:url("/images/site/This_is_math.jpg") center center;
 background-size:cover;
 background-position:0% 51.6%;
}


ol{
 list-style-position:inside;
}

.footer{
 background:linear-gradient(to bottom,rgb(220,220,220),white);
}


details>summary{
 cursor:pointer;
}

details div.proof{
 background-color:aliceblue;
 position:relative;
 border-style:solid;
 border-width:thin;
 padding:1rem;
}

details div.proof div.qed{
 position:absolute;
 bottom:1rem;
 right:1rem;
}


.MathJax_Display,.MJXc-display,.MathJax_SVG_Display{
 overflow-x:auto;
 overflow-y:hidden;
}
